.app {
  display: grid;
  grid-template-areas:
    "header header"
    "sidepanel wordcloud";
  grid-template-columns: 600px auto;
}

.wordcloud {
  position: sticky;
  top: 0;
  grid-area: wordcloud;
  max-height: 90vh;
  max-width: 100%;
  margin-top: -10vh;
}

.wordcloud__error {
  padding-top: 10vh;
}

@media (max-width: 1000px) {
  .app {
    grid-template-areas:
      "header"
      "wordcloud"
      "sidepanel";
    grid-template-columns: auto;
  }

  .wordcloud {
    position: static;
    top: auto;
  }
}
